@media screen and (max-width: 1290px) {

    .header_logo {
        padding: 20px 25px 22px 40px;
    }

    .header_application {
        width: 170px;
    }

    .main_banner {
        position: relative;
    }

    .main_banner_content {
        position: initial;

        .main_banner_about {
            padding: 35px 35px 60px 35px;
            left: 15px;
            right: auto;
            bottom: auto;
            top: 15px;

            &_title {
                font-size: 30px;
                margin-bottom: 30px;
            }
        }
    }


}

@media screen and (max-width: 1060px) {
    .header_menu {
        display: none;
    }
}

@media screen and (max-width: 981px) {

    .header_logo {
        padding-left: 20px;
    }

    .sandwich-wrap {
        right: 20px;
    }

    .main_trust_slider {
        .slick-arrow {
            display: none !important;
        }
    }

    .main_banner {
        grid-template-columns: 1fr;

        .main_banner_content {
            background: transparent;

            &_tel {
                display: none;
            }

            .main_banner_about {
                position: relative;
                right: auto;
                bottom: auto;
                top: auto;
                left: 0;
                width: 100%;
                background: #F8F8F8;
                padding: 40px 20px 140px 20px;

                &::before {
                    display: none;
                }
            }

            .main_banner_about_desc_more {
                left: 20px;
                bottom: 50px;
            }
        }
    }

    .main_suggestion {
        .main_suggestion_wrap {
            grid-template-columns: 1fr 1fr;
            justify-items: center;
            a {
                width: 100%;
                max-width: 255px;
            }
        }
    }

    .main_services_wrap {
        flex-wrap: wrap;
        &_decore {
            margin: 0 auto;
            img {
                width: 100%;
            }
        }
    }

    .main_achievement_wrap {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 25px;
    }

    .footer_wrap_top {
        flex-wrap: wrap;
        .footer_item {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        .footer_item-mail:first-of-type {
            padding-top: 75px;
        }

        .footer_item-mail:last-of-type {
            padding-top: 0;
        }
    }
}

@media screen and (max-width: 768px) {
    .main_news_wrap {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 768px) {
    .main_suggestion_wrap {
        grid-template-columns: 1fr;
    }

    .main_services_wrap_decore {
        margin-top: 25px;
    }
    

}