.rusta-cripto {
    line-height: 1.6;
    font-weight: 300;
}

.customs-consalt_services {
    .customs-consalt_subtitle {
        max-width: 720px;
    }
}

.rusta-cripto-desc-wrap {
    margin-bottom: 50px;
.rusta-cripto-desc-l {
    font-weight: 300;
    line-height: 1.6;
}
}
