.customs-reg-desc {
    margin-bottom: 80px;
    color: #303234;
    font-size: 18px;
    line-height: 1.6;
}

.custom-reg-for-wrap {
    .custom-reg-for-l {
        font-size: 18px;
        line-height: 1.6;
        color: #303234;
        margin-bottom: 80px;
    }

    .custom-reg-for-r {
        margin-bottom: 80px;
        font-size: 14px;
        color: #303234;
        line-height: 1.6;
    }
}

.custom-reg_services {
    margin-bottom: 80px;
}

.custom-reg_experience {
    font-size: 14px;
    line-height: 1.6;
}