.customs-consalt-desc-l {
    font-size: 18px;
    line-height: 160%;
}

.customs-consalt-desc-r {
    line-height: 1.6;
}

section.customs-consalt-trust {
    margin-bottom: 50px;

    .section_desc--flex .section_desc-l-bigger {
        max-width: 710px;
        font-weight: bold;
        font-size: 22px;
        line-height: 135%;
    }
}

.customs-consalt_experience {
    .customs-consalt_exp-l {
        font-size: 18px;
        line-height: 160%;
    }

    .customs-consalt_exp-r {

        line-height: 160%;
        font-weight: 300;
    }
}